Dockerfile
**/.DS_Store
.vscode
_opam/
_build/
**/.merlin
vue/
src/flow_parser
src/prototype
*.strings
*.exe
*.mac
*.linux
strings/
flow/
quickjs/
test/
bad/
src/flow_parser
src/sedlex
src/collections
src/quickjs/runtime.js
src/quickjs/libquickjs.a
src/quickjs/libomp.a
