**/.DS_Store
.vscode
_opam/
_build/
node_modules/
quickjs/
!src/quickjs/
**/.merlin
src/flow_parser
src/prototype
*.strings
*.txt
*.exe
*.mac*
*.linux
*.tar.gz
strings/
strings-backup/
lib/
flow/
test/
bad/
src/flow_parser
src/sedlex
src/collections
