---
const title = L('Hello from Astro Frontmatter')
---

<h1>{L('Hello from Astro Expression')}</h1>

<I18n is:raw>Hello from Astro</I18n>

<I18n is:raw args={{ ...LTags("strong") }}>
  Hello {strong_}from{_strong} Astro Args
</I18n>

<script>
console.log(L('Hello from Astro Script'))
</script>
